.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.TilesContainer {
  display: flex;
}

.Tile {
  margin: 10px;
  max-width: 350px;
}

.TileMedia img {
    height: 200px; 
    width: auto; 
}

.HtmlEditor {
  min-width: 500px;
  min-height: 600px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Form {
  margin: 10px;
}

.Form Input {
  margin: 10px;
  min-width: 300px;
}

.Form Button {
  margin: 10px 10px 10px 0px;
}

.Paper {
  margin: 10px;
}

.designer-left{
  float: left;
  padding-left: 60px;
  min-width: 360px;
  min-height: 700px;
}

.designer-right{
  min-height: 560px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: blue;
}

.yellow {
  color: yellow;
}

.violet {
  color: violet;
}

.megadraft {
  border: 2px solid black;
  min-height: 400px;
  width: 320px;
}

.hidden {
  display: none;
}

.contentSchedulerForm {

}

.searchContentPane {
  max-width: 200px;
}

.contentPreviewBox {

}

.beaconSelectionPane {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

