/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/fontawesome/scss/font-awesome";  

.card {
    // Force the card height up
    height: 600px !important;
}

// // Custom SASS
// .pane {
//   background-color: #333;
// }
 
// .swipe-cards {
//   position: fixed;
// }
 
// swipe-card {
//   display: none;
//   position: fixed;
//   -webkit-transform: scale(1,1);
//   left: 5%;
//   top: 10%;
//   width: 90%;
//   height: 80%;
//   box-sizing: border-box;
//   background-color: rgb(255,255, 0);
//   border-radius: 4px;
//   overflow: hidden;
//   -webkit-animation-fill-mode: forwards;
// }
 
// swipe-card .title {
//   height: 40px;
//   padding: 5px;
//   line-height: 30px;
//   color: #444;
// }
// swipe-card .image {
//   overflow: hidden;
//   max-height: 210px;
// }
// swipe-card .button {
//   border: none;
// }
// swipe-card .image img {
//   width: 100%;
//   border-radius: 0px 0px 4px 4px;
// }
 
// #start-card {
//   color: #fff;
//   background-color: #30BD8A;
//   line-height: 300px;
//   word-wrap: break-word;
//   border: 6px solid #4CD68E;
//   text-align: center;
// }
// #start-card span {
//   display: inline-block;
//   line-height: 40px;
//   width: 200px;
//   font-size: 30px;
//   vertical-align: middle;
// }
 
// @-webkit-keyframes bounceIn {
//   0% {
//     -webkit-transform: scale(0,0);
//   }
//   70% {
//     -webkit-transform: scale(1.2,1.2);
//   }
//   100% {
//     -webkit-transform: scale(1,1);
//   }
// }
 
// swipe-card.pop-in-start {
//   -webkit-transform: scale(0,0);
// }
// swipe-card.pop-in {
//   -webkit-animation: bounceIn 0.4s ease-out;
// }
